body{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Подключение шрифтов*/
@font-face {
    font-family: "Forum";
    src: url('../library/fonts/Forum-Regular.ttf');
}
@font-face {
    font-family: "Inter";
    src: url('../library/fonts/Inter-Regular.ttf');
}
/*Header*/
header{
    background-color: black;
    width: 1440px;
    height: 90px;
}
#PageTitle{
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    width: 294px;
    height: 50px;
    font-family: Forum;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0.2px;
    position: absolute;
    z-index: 0;
}
.menu{
    display: inline-flex;
    flex-direction: row;
    margin-top: 20px;
    left: 768px;
    gap: 30px;
    width: 584px;
    height: 50px;
    position: absolute;
    z-index: 1;
    align-items: center;
    padding: 0px;
}
.menuItem{
    color: white;
    text-decoration: none;
    width: 57px;
    height: 50px;
    font-family: Inter;
    font-weight: 400px;
    font-size:20px;
    line-height: 50px;
}
#iconProfile{
    width: 28px;
    height: 28px;
    margin-left: 1392px;
    margin-top: 31px;
}
/*Main, 'welcome' block*/
.welcome{
    background-image: linear-gradient(rgba(0,0,0),rgba(18,18,21,0.1)), url(./images/Welcome.png);
    width: 1440px;
    height: 600px;
}
#welcomeTitle{
    background-color: black;
    width: 600px;
    height: 220px;
    position: absolute;
    margin-top: 220px;
}
#titleText{
    color: white;
    font-family: Forum;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 3px;
    margin-top: 35px;
    margin-left: 40px;
    width: 520px;
    height: 150px;
    text-align: center;
    text-transform: uppercase;
}
/*Main, 'about' block*/
.aboutTitle{
    width: 106px;
    height: 61px;
    position: absolute;
    margin-top:20px;
    margin-left: 667px;
}
#aboutText{
    height: 40px;
    font-family: Forum;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 2px;
    margin-bottom: auto;
}
#decorationLine{
    width: 50px;
    border: 1px solid black;
    margin-top: 20px;
}
#aboutDescriptionText{
    width: 1440px;
    height: 40px;
    position: absolute;
    margin-top:121px;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}
.imagesItems{
    width: 1400px;
    height: 560px;
    position: absolute;
    margin-top: 181px;
    margin-left: 20px;
    display: inline-table;
}
#imageItem{
    width: 450px;
    padding-right: 25px;
}
.carouselPagination{
    width: 68px;
    height: 16px;
    position: absolute;
    margin-top: 781px;
    margin-left: 686px;
    display: inline-flex;
}
#paginationArea{
    width: 26px;
    height: 26px;
    padding-right: 10px;
    cursor: pointer;
}
#paginationButton{
    width: 16px;
    height: 16px;
    background-color: black;
    border: 1px solid;
    border-radius: 50%;
    cursor: pointer;
}
#paginationButton:active{
    background-color: rgba(187, 148, 95, 1);
}
#paginationButton:hover{
    background-color: rgba(187, 148, 95, 1);
}
#paginationArea:active #paginationButton{
    background-color: rgba(187, 148, 95, 1);
}
#paginationArea:hover #paginationButton{
    background-color: rgba(187, 148, 95, 1);
}
/* Favorites */
.favorites{
    margin-top: 837px;
}
#favoritesText{
    width: 160px;
    height: 40px;
    margin-top: 20px;
    margin-left: 640px;
    font-family: Forum;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 2px;
}
#favoritesDecorationLine{
    width: 50px;
    border: 1px solid black;
    margin-bottom: auto;
    margin-left: 695px;
}
#favoritesDescriptionText{
    width: 234px;
    height: 24px;
    margin-top: 121px;
    margin-left: 20px;
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    line-height: 24.2px;
    text-align: center;
}
.seasons{
    width: 800px;
    height: 24px;
    margin-top: 40px;
    margin-left: 20px;
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
    border: none;
}
#favoritesButtonArea{
    width: 109px;
    height: 29px;
    padding-right: 90px;
    cursor: pointer;
}
#favoritesButtonLable{
    width: 62px;
    height: 24px;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24.2px;
}
input{
    -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#favoritesButton{
    width: 17px;
    height: 17px;
    border: 2px solid black;
    border-radius: 50%;
}
#favoritesButton:checked{
    background-color: black;
    border: 3.5px solid white;
    outline: 2px solid black;
    width: 15px;
    height: 15px;
}
#favoritesButtonArea:active #favoritesButton{
    background-color: black;
    border: 3.5px solid white;
    outline: 2px solid black;
    width: 15px;
    height: 15px;
}
#favoritesButtonArea:hover #favoritesButton{
    background-color: black;
    border: 3.5px solid white;
    outline: 2px solid black;
    width: 15px;
    height: 15px;
}
.seasonBooks{
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}
#seasonBook{
    border: 1px solid black;
    width: 550px;
    height: 555px;
    margin-bottom: 40px;
}
#staffPicks{
    margin-left: 40px;
    font-family: Forum;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
    margin-bottom: auto;
}
#staffPicksDecorationLine{
    width: 60px;
    border: 1px solid rgba(187, 148, 95, 1);
    margin-bottom: auto;
    margin-left: 40px;
}
#seasonBookTitle{
    margin-left: 40px;
    font-family: Inter;
    font-weight: 700;
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 2px;
    margin-bottom: auto;
}
#description{
    width: 355px;
    height: 320px;
    margin-left: 40px;
    font-family: Inter;
    font-weight: 400;
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 2px;
    margin-bottom: auto;
    text-transform: capitalize;
    position: absolute;
}
#seasonBookImage{
    width: 200px;
    height: 300px;
    margin-top: 91px;
    margin-left: 405px;
    position: absolute;
}
.Winter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1400px;
    height: 1150px;
    justify-content:space-between;
}
.Spring{
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1400px;
    height: 1150px;
    justify-content:space-between;
}
.Summer{
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1400px;
    height: 1150px;
    justify-content:space-between;
}
.Autumn{
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1400px;
    height: 1150px;
    justify-content:space-between;
}
button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#seasonBookButtonOwn{
    width: 75px;
    height: 30px;
    margin-top: 355px;
    margin-left: 40px;
    font-family: Inter;
    font-weight: 700;
    font-size: 10px;
    line-height: 12.1px;
    letter-spacing: 1px;
    text-align: center;
    border:1px solid rgba(187, 148, 95, 1);
    color:rgba(187, 148, 95, 1);
    border-radius: 2px;
}
#seasonBookButton{
    width: 75px;
    height: 30px;
    margin-top: 355px;
    margin-left: 40px;
    background-color: white;
    font-family: Inter;
    font-weight: 700;
    font-size: 10px;
    line-height: 12.1px;
    letter-spacing: 1px;
    text-align: center;
    border: 1px solid black;
    border-radius: 2px;
    transition: border 1s, color 1s;
}
#seasonBookButton:active{
    border-color:rgba(187, 148, 95, 1);
    color:rgba(187, 148, 95, 1);
    
}
#seasonBookButton:hover{
    border-color:rgba(187, 148, 95, 1);
    color:rgba(187, 148, 95, 1);
}
/* Cofee Shop */
.cofeeShopTitle{
    width: 222px;
    height: 61px;
    margin-top: 20px;
    margin-left: 610px;
}
#cofeeShopText{
    height: 40px;
    font-family: Forum;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: auto;
}
#cofeeShopDecorationLine{
    width: 50px;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: auto;
}
#cofeeShopDescription{
    width: 1400px;
    height: 120px;
    margin-top: 40px;
    margin-left: 20px;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
    text-align: center;
}
.cofeeShopMenu{
    width: 1400px;
    height: 520px;
    display: inline-flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: space-between;
}
.cofeeShopMenuPart{
    display: grid;
    gap: 40px;
    width: 482px;
    height: 520px;
}
#cofeeShopMenuTitle{
    font-family: Forum;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 2px;
    color: rgba(187, 148, 95, 1);
    margin-top: auto;
}
.cofeeShopMenuItem{
    display: flex;
    flex-direction: row;
    gap:60px;
}
#cofeeShopMenuItemName{
    width: 250px;
    height: 40px;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
    margin-top: auto;
    margin-bottom: auto;
}
#cofeeShopMenuItemDecorationLine{
    width: 100px;
    border: 1px solid rgba(187, 148, 95, 1);
    margin-bottom: auto;
    margin-top: auto;
}
#cofeeShopMenuItemCoast{
    font-family: Forum;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
    margin-top: auto;
    margin-bottom: auto;
}
/* OurContacts */
.ourContactsTitle{
    height: 61px;
    margin-top: 20px;
    margin-left: 600px;
}
#ourContactsText{
    height: 40px;
    font-family: Forum;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: auto;
}
#ourContactsDecorationLine{
    width: 50px;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: 95px;
}
.ourContactsInfo{
    display: flex;
    margin-top: 121px;
    margin-left: 20px;
    gap: 201px;
    width: 1400px;
    height: 414px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#ourContactsTextInfo{
    width: 503px;
    height: 380px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
}
#ourContactsPhoneInfo{
    width: 503px;
    height: 160px;
    margin-top: 80px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
}
#phone{
    color: black;
    text-decoration: none;
}
#libraryDirectorText{
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
}
#director{
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    color: black;
    text-decoration: none;
}
#ourContactsMap{
    width: 696px;
    height: 414px;
}
/* Library card */
.libraryCard{
    width: 1440px;
    height: 614px;
}
.libraryCardInfo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.libraryCardTitle{
    height: 61px;
    margin-top: 20px;
    margin-left: 534px;
}
#libraryCardText{
    height: 40px;
    font-family: Forum;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: auto;
}
#libraryCardDecorationLine{
    width: 50px;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: 150.2px;
}
.findCard{
    width: 600px;
    height: 453px;
    margin-top: 40px;
}
#findCardTitle{
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-left: 158px;
    margin-top: 40px;
    margin-bottom: 30px;
}
#findCardLable{
    width: 294px;
    height: 50px;
    padding-top: 20px;
    margin-top: auto;
    margin-left: 20px;
    margin-bottom: auto;
    font-family: Forum;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.02em;
    text-align: left;
}
#findCardForm{
    width: 600px;
    height: 387px;
    margin-top: 30px;
    margin-left: 20px;
    padding: 0px 0px 1px 0px;
    gap: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 3px solid rgba(187, 148, 95, 1);
}
#formBackground{
    width: 560px;
    height: 272px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: rgba(187, 148, 95, 1);
}
#findCardInput{
    width: 520px;
    height: 66px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 10px;
    font-family: Forum;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.02em;
    text-align: left;
}
#findcardButton{
    width: 242px;
    height: 44px;
    margin-top: 20px;
    margin-left: 179px;
    padding: 10px 40px 10px 40px;
    border-radius: 2px;
    border: 2px solid rgba(12, 12, 14, 1);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
}
#findcardButton:active{
    border-color:rgba(187, 148, 95, 1);
    background-color:rgba(187, 148, 95, 1);
}
#findcardButton:hover{
    border-color:rgba(187, 148, 95, 1);
    background-color:rgba(187, 148, 95, 1);
}
.getCard{
    position: absolute;
    width: 456px;
    height: 253px;
    margin-top: 121px;
    margin-left: 964px;
    border-radius: 2px;
    border: 1px;
}
#getCardTitle{
    width: 221px;
    height: 33px;
    margin-top: auto;
    margin-left: 236px;
    font-family: Forum;
    font-size: 30px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.02em;
}
#getCardText{
    width: 456px;
    height: 120px;
    margin-top: 35px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: right;
}
#getCardButton{
    width: 75px;
    height: 30px;
    padding: 10px 0px 10px 0px;
    border-radius: 2px;
    border: 1px solid rgba(12, 12, 14, 1);
    font-family: Inter;
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 1px;
    text-align: center;
    margin-inline-start: 20px;
}
#getCardButton:active{
    border-color:rgba(187, 148, 95, 1);
    background-color:rgba(187, 148, 95, 1);
}
#getCardButton:hover{
    border-color:rgba(187, 148, 95, 1);
    background-color:rgba(187, 148, 95, 1);
}
.buttons{
    display: flex;
    margin-top: 15px;
    padding: 10px 0px 10px 0px;
    justify-content: flex-end;
}
/* Footer */
footer{
    background-color: black;
    width: 1440px;
    height: 250px;
}
.libraryInfo{
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    width: 1400px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.libraryContacts{
    width: 229px;
    height: 40px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
}
#footerHref{
    color: white;
    text-decoration: none;
}
#LibrarySocialMediaRef{
    margin-top: 18px;
    padding-right: 15px;
}
.workTime{
    width: 149px;
    height: 90px;
    text-align: end;
}
#time{
    margin-bottom: 10px;
}
#divideLine{
    width: 1400px;
    border: 1px solid white;
    margin-bottom: 44px;
    margin-left: 20px;
    margin-right: 20px;
}
.footerRss{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 44px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#gitRef{
    color: white;
    text-decoration: none;
}
